<!-- this corresponds to the index action in tasks_controller.r -->
<!-- this is what displays the DewLists a current user has -->
<% @tasks.each do |task| %>
  <h2><%= link_to task.title, task  %></h2>
  <p><%= task.description %></p>
<% end %>

<%= link_to "Dew New Task", new_task_path %>
