<!-- corresponds to new action in the tasks_controller.rb -->

<h1>Dew New Task</h1>
<!-- this is the view for a user to create a new DewList task -->
<!-- rendering from the partial for at _form.html.erb -->
<%= render 'form' %>
