<!-- corresponds to new action in the tasks_controller.rb -->
<div class="col-md-6 col-md-offset-3">

<h1>Dew New Task</h1>
<!-- this is the view for a user to create a new DewList task -->
<!-- rendering from the partial for at _form.html.erb -->
<%= render 'form' %>
<%= link_to "Back", root_path %>

</div>
