<div class="jumbotron">
  <h1>Welcome to HoneyDew</h1>
  <p>Dew you, Boo Boo!</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
</div>
